@font-face {
    font-family: Aegan;
    src: url('../fonts/aegan.ttf');
}

@font-face {
    font-family: Hussar;
    src: url('../fonts/hussar.otf');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hussar;
}

img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

a {
    text-decoration: none;
    color: black;
}

input, button, select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}

button {
    cursor: pointer;
    background-color: white;
    transition: linear .2s;
}

button:hover {
    color: white;
    background-color: black;
}

.header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > a {
    margin: 0 5px;
    transition: linear .5s;
}

.nav > a:hover {
    opacity: .3;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 150px;
}

.auth {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.df {
    display: flex;
}

.product-container, .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products {
    gap: 20px;
}

.product {
    width: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.product-types {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 20%;
}

.product-sort {
    display: flex;
    gap: 10px;
}

.product-list {
    width: 80%;
}

.product > img {
    width: 100%;
    padding: 10px;
}

.product-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.product-image {
    width: 30%;
}

.product-body {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-items {
    display: flex;
}

.cart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cart-body {
    width: 75%;
}

.cart-order {
    margin-top: 10%;
    width: 25%;
}

.title {
    width: 100%;
    text-align: center;
}

#viewport {
    overflow: hidden;
}

.slider {
    position: relative;
    transition: 500ms;
    width: calc(100% * 5);
    max-height: 50vh;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    left: 0;
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-button {
    display: flex;
    justify-content: center;
}

.slide > p {
    background: white;
    padding: 20px 50px;
    font-size: 50px;
    bottom: 0;
}

.slide > img {
    height: 35vh;
}

.slider-btn {
    width: 100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.map {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.map > img {
    margin: 0 auto;
}